[user]
	name = Sunny
	email = sunny81715@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
	ui = true
[push]
	default = simple
[alias]
	st = status
	co = checkout
[apply]
	whitespace = nowarn
