[user]
	name = Sunny
	email = sunny81715@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
	ui = true
[push]
	default = simple
[alias]
	br = branch
	st = status
    co = checkout
    cim = commit
[apply]
	whitespace = nowarn
